<html>
  <head>
    <Title>Message Board</Title>
  </head>
  <body>
    <%- include('navbar') %>
    <h2>Messages</h2>
    <ul>
        <% messages.forEach((message) => { %> 
            <li><span><%= message.added.toLocaleDateString() %></span> <strong><%= message.username %>:</strong> <%= message.message %> <a href="/<%= message.id %>">Open</a></li>
        <% }) %>
    </ul>
  </body>
</html>
